@{
    ViewData["Title"] = "Payment";
}

<div>
    <form action="/Payment/CreateCheckout" method="POST">
      <button class="btn btn-primary" type="submit">Checkout</button>
    </form>
    <br />
    <form action="/Payment/Invoice" method="POST">
      <button class="btn btn-primary" type="submit">Invoice</button>
    </form>
</div>